header {
    background-color: white;
    width: 100%;
    position: fixed;
}
#logo{
    margin: 20px;
}
a{
    list-style: none;
    float: right;
    margin: 20px;
    text-decoration: none;
    text-align: center;
    font-family: FANTASY;
    COLOR: MEDIUMVIOLETRED;
    float: left;
}
li:hover{
    background-color: white;
    color: turquoise;
}
body {
    margin: 0;
}
h1{
    padding-top: 150px;
    text-align: center;
    FONT-SIZE: xx-large;
    FONT-FAMILY: monospace;
    COLOR: cornflowerblue;
}
h2{
    color: chocolate;
    text-align: right;
    margin: 0;
    float: none;
}
nav{
    float: right;
    margin: 10px;
}

.box-100 {
    width: 60px;
    height: 30px;
    float: left;
    margin: 5px;
    padding: 5px;
    font-size: 12pt;
    text-align: center;
    color: #FFFFFF;
    font-family: impact;
    background: rgb(61, 159, 177);
}
.box-200 {
    width: 130px;
    height: 30px;
    float: left;
    margin: 5px;
    padding: 5px;
    font-size: 16pt;
    text-align: center;
    color: #FFFFFF;
    font-family: none;
    background: rgb(61, 159, 177);
    border-radius: 10%;
}
.box-300 {
    width: 80px;
    height: 30px;
    float: center;
    font-size: 12pt;
    text-align: center;
    color: white;
    font-family: impact;
    background: black;
    border-radius: 10%;
}
h3{
    text-align: center;
    FONT-FAMILY: monospace;
    COLOR: darkgrey;
    margin-left: 50px;
}
#article-list{
    background-image: url("greek-vase.png");
    margin-left: 50px;
    margin-right: 50px;
    }

p{
    text-align: justify;
    color: darkblue;
    text-indent: 20px;
    margin: 40px;
}

p::first-letter {
    font-size: xx-large; float-left; line-height: 60px;
 }

article{
    border-bottom-style: solid;
    border-bottom-color: chocolate;
    text-align: center;
}

.circular--square {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    width: 30;
    display: inline-block; 
    margin-bottom: -10px;
  }

  .icon-big{ 
      font-family: impact;
      font-weight: 200;
      text-align: right;
  }

  .icon-big2{ 
    display: inline;
    margin: 25;     
}
